html.main {
  font-family: 'Classic Comic';
}

body.img {
  background: url("city.gif") no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  color: white;
  height: 100%;
}

div.container {
  position: fixed;
  top: 50px;
  left: 75px;
  background-color: black;
  opacity: 0.8;
  width: 50%;
  height: 85%;
  border-radius: 25px;
  box-shadow: 25px 25px 5px rgba(0,0,0,0.8);
}

table {
  background-color: white;
  color: black;
  width: 100%;
}
table, td, th {
  border-style: solid;
  border-width:3px;
  border-color: yellow;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: center;
}

.content {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.buttonContainer {
  width: 100%;
  display: inline-block;
  padding: 20px;
  text-align: center;
}
.button {
  background-color: black;
  color: white;
  width: 250px;
  height: 60px;
  text-align: center;
  border-color: inherit;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  font-family: "Press Start 2P";
  font-size: 15px;
  font-weight: bold;
  margin: 15px;
}

.button:hover {
  color: red;
  border-color: inherit;
  transform: scale(1.1,1.1);
}


#title {
  font-size: 50px;
  font-weight: bold;
}

#nyan {
  margin-left: -19.5px;
  margin-bottom: -35px;
  width: 50%;
  height: 100px;
}
